.wcs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 180px;
}
.wcs-list-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.wcs-list-item {
    padding: 10px 120px;
}